<main class="main js-main">
  <section class="main__result">
    <h2 class="main__result--title">Resultados</h2>
    <nav class="nav">
      <ul class="js-ul nav__ul"></ul>
    </nav>
  </section>
  <section class="main__favorites js-sectionFavorites">
    <h2 class="main__favorites--title">Series favoritas</h2>
    <nav class="nav">
      <ul class="js-ulFavs nav__ul""></ul>
      <button style="cursor:pointer"  class="js-resetFavs buttonResetAll">      <span></span>
        <span></span>
        <span></span>
        <span></span>Borrar favoritos</button>
    </nav>
  </section>
</main>
