body {
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  &__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    &--favorites {
      width: 50%;
    }
  }
}
